<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-com</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
    <link rel="stylesheet" href="css/boostrep.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <!-- slider -->
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>

    
</head>
<body class="profile">
    <div id="page" class="site">
        
        <aside class="site-off desktop-hide">
            <div class="off-canvas">
                <div class="canvas-head flexitem">
                    <div class="logo"><a href="/"><span class="circle"></span>.store</a></div>
                    <a href="#" class="t-close flexcenter"><i class="ri-close-line"></i></a>
                </div>
                <div class="departments"></div>
                <nav></nav>
                <div class="thetpo-nav"></div>
            </div>
        </aside>

        <header>
            <div class="header-top mobile-hide">
                <div class="container">
                    <div class="wrapper flexitem">
                            <div class="left">
                                <ul class="flexitem main-links">
                                    <!-- <li><a href="#">blog</a></li>
                                    <li><a href="#">featured products</a></li>
                                    <li><a href="#">Wishlist</a></li> -->
                                </ul>
                            </div>
                            <div class="right">
                                <ul class="flexitem main-links">
                                    <li><a href="/logout">log out</a></li>
                                    <li><a href="/myproduct">profile</a></li>
                                    <li><a href="/signup">sign Up</a></li>
                                    <li><a href="/login">Log in </a></li>
                                        <!-- <li><a href="#">Order Tracking</a></li> -->
                                        <li><a href="#">USD <span class="icon-small"><i class="ri-arrow-down-s-line"></i></span></a>
                                        <ul>
                                            <li class="current"><a href="#">INR</a></li>
                                            <li><a href="#">USD</a></li>
                                            <li><a href="#">EURO</a></li>
                                            <li><a href="#">GBP</a></li>
                                        </ul>
                                        </li>
                                        <li><a href="#">English <span class="icon-small"> <i class="ri-arrow-down-s-line"></i></span></a>
                                            <ul>
                                                <li class="current"><a href="#">English</a></li>
                                                <li><a href="#">Gujrati</a></li>
                                                <li><a href="#">Hindi</a></li>
                                                <li><a href="#">spaanish</a></li>
                                            </ul>
                                        </li>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
            <!-- header top -->
            <div class="header-nav">
                <div class="container">
                    <div class="wrapper flexitem">
                        <a href="#" class="trigger desktop-hide"><span class="i ri-menu-2-line"></span></a>
                        <div class="left flexitem">
                            <div class="logo"><a href="/"><span class="circle"></span>.store</a></div>
                            <nav class="mobile-hide">
                                <ul class="flexitem second-links">
                                    <li><a href="/">home</a></li>
                                    <li><a href="myproduct">My Product</a></li>
                                    <li class="has-child"><a href="/addproduct">Add Product</a>
                                    </li>
                                    <li><a href="/catadd">Add category</a></li>
                                    <!-- <li>
                                        <a href="#">sports 
                                            <div class="fly-item"><span>New!</span></div>
                                        </a>
                                    </li> -->
                                </ul>
                            </nav>
                        </div>
                        <div class="right">
                            <ul class="flexitem seconnd-links">
                                <li class="mobile-hide"><a href="#"></a>
                                <div class="icon-large"><i class="ri-heart-line"></i></div>
                            <div class="fly-item"><span class="item-number">0</span></div>
                            </li>
                                <li><a href="/cart" class="iscart">
                                    <div class="icon-large">
                                        <i class="ri-shopping-cart-line"></i>
                                        <div class="fly-item"><span class="item-number" id="numbercount">0</span></div>
                                    </div>
                                    <div class="icon-text">
                                        <div class="mini-text">Total</div>
                                        <div class="cart-total">0.00</div>
                                    </div>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
             <div class="header-main mobile-hide">
                <div class="container">
                    <div class="wrapper flexitem">
                        <div class="left">
                            <div class="dpt-cat">
                                <div class="dpt-head">
                                    <div class="main-text">All departments</div>
                                    <div class="mini-text mobile-hide"> total 1050 products</div>
                                    <a href="#" class="dpt-trigger mobile-hide">
                                        <i class="ri-menu-3-line ri-xl"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <div class="search-box">
                                <form action="" class="search">
                                    <span class="icon-large"><i class="ri-search-line"></i></span>
                                    <input type="search" placeholder="search for products">
                                    <button type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </header>
        <main>
            <div class="container">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Form Validation</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-validation">
                                <form class="form-valide" action="/addproduct" method="post" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-xl-6">
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label">Product Name
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" name="productname" placeholder="Enter Product name..">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" >currentprice <span
                                                        class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control"  name="currentprice" placeholder="current price">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label">Old price
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    <input type="number" class="form-control" name="fakeprice" placeholder="old price">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" >discount <span
                                                        class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control"  name="discount" placeholder="discount">
                                                </div>
                                            </div>
                                            <h3>Detail</h3>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" >Details First <span
                                                        class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    <textarea class="form-control-arya"  name="detailone" rows="4" cols="0" placeholder="Detail first"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label">Details second <span
                                                        class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    <textarea class="form-control-arya"  name="detailtwo" rows="4" cols="0" placeholder="Detail second"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="val-skill">Category
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    <select class="form-control" name="catid" id="select">
    
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xl-6">
                                           
                                            <h3> Infomation</h3>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" >Brand
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" name="brand" placeholder="Brand">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" >ACTIVITY 
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control"  name="activity" placeholder="ACTIVITY ">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="val-phoneus">MATERIAL 
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" id="val-phoneus" name="material" placeholder="MATERIAL ">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="val-digits">GENDER  <span
                                                        class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control" id="val-digits" name="gender" placeholder="GENDER ">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="val-number">img 1 <span
                                                        class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control"  name="img" placeholder="img  1  ">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="val-number">img 2 <span
                                                        class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control"  name="img2" placeholder="img 2">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="val-number">img 3 <span
                                                        class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control"  name="img3" placeholder="img  3 ">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-lg-4 col-form-label" for="val-number">img 4 <span
                                                        class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-6">
                                                    <input type="text" class="form-control"  name="img4" placeholder="img 4h">
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-8 ml-auto">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </main>
        <footer>
            <div class="newsletter">
                <div class="container">
                    <div class="wrapper">
                        <div class="box">
                            <div class="content">
                                <h3>Join our newsletter </h3>
                                <p>Get E-mail updates about our latest shop and <strong>Special offers</strong></p>
                            </div>
                            <form action="" class="search">
                                <span class="icon-large"> <i class="ri-mail-line"></i></span>
                                <input type="text" placeholder="your email address">
                                <button type="s
                                ">Sing Up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="widgets">
                <div class="container">
                    <div class="wrapper">
                        <div class="flexwrap">
                            <div class="row">
                                <div class="item main-links">
                                    <h4>Help & Contact</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Your Account</a></li>
                                    <li><a href="#">Your Order</a></li>
                                    <li><a href="#">Shopping Order</a></li>
                                    <li><a href="#">Returns</a></li>
                                    <li><a href="#">Assistant</a></li>
                                    <li><a href="#">Help</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item main-links">
                                    <h4>Products Categories</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Beauty</a></li>
                                        <li><a href="#">Electronic</a></li>
                                        <li><a href="#">whoman's fashion</a></li>
                                        <li><a href="#">mans fashion</a></li>
                                        <li><a href="#">Girl's fashion</a></li>
                                        <li><a href="#">boy's fashion</a></li>
                                        <li><a href="#">Health & Household</a></li>
                                        <li><a href="#">sports</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item main-links">
                                    <h4>Payment Info</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Bussiness Card</a></li>
                                        <li><a href="#">Shop with points</a></li>
                                        <li><a href="#">paypal</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item main-links">
                                    <h4>Abouts us</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Compny info</a></li>
                                        <li><a href="#">News</a></li>
                                        <li><a href="#">Investors</a></li>
                                        <li><a href="#">Careers</a></li>
                                        <li><a href="#">policies</a></li>
                                        <li><a href="#">Custemer reviews</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        
                       
                        
                    </div>
                </div>
            </div>
            <div class="footer-info">
                <div class="container">
                    <div class="wrapper">
                        <div class="flexcol">
                            <div class="logo">
                                <a href="#"><span class="circle"></span>.Store</a>
                            </div>
                            <div class="socials">
                                <ul class="flexitem">
                                    <li><a href="#"><i class="ri-twitter-line"></i></a></li>
                                    <li><a href="#"><i class="ri-facebook-line"></i></a></li>
                                    <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                                    <li><a href="#"><i class="ri-linkedin-line"></i></a></li>
                                    <li><a href="#"><i class="ri-youtube-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <p class="mini-text"> Copyright 2023 © .Store. All right reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- <script src="./vendor/global/global.min.js"></script>
    <script src="./js/quixnav-init.js"></script>
    <script src="./js/custom.min.js"></script> -->
    <!-- Jquery Validation -->
    <!-- <script src="./vendor/jquery-validation/jquery.validate.min.js"></script> -->
    <!-- Form validate init -->
    <!-- <script src="./js/plugins-init/jquery.validate-init.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script> -->

    <script>
        function copymenu(){
            let dptcategory = document.querySelector('.dpt-cat');
            let dptplace = document.querySelector('.departments');
            dptplace.innerHTML =dptcategory.innerHTML;
            let mainnav = document.querySelector('.header-nav nav');
            let navpace = document.querySelector('.off-canvas nav');
            navpace.innerHTML = mainnav.innerHTML;
            let topnav =document.querySelector('.header-top .wrapper');
            let topplace = document.querySelector('.off-canvas .thetpo-nav');
            topplace.innerHTML = topnav.innerHTML;

        }
        copymenu();
        //show mobaile menu
        const menubutton = document.querySelector('.trigger'),
            closbutton = document.querySelector('.t-close'),
            addclss = document.querySelector('.site');
        menubutton.addEventListener('click', function(){
            addclss.classList.toggle('showmenu');
        })
        closbutton.addEventListener('click', function(){
            addclss.classList.remove('showmenu');
        })
        // show sub menu on mobaile
        const submenu = document.querySelectorAll('.has-child .icon-small');
        submenu.forEach((menu) => menu.addEventListener('click', toggle));
        function toggle(e) {
            e.preventDefault();
            submenu.forEach((item) => item != this ? item.closest('.has-child').classList.remove('expand') : null);
            if(this.closest('.has-child').classList != 'expand');
            this.closest('.has-child').classList.toggle('expand');
        }
        // slider
        const swiper = new Swiper('.swiper', {
            loop: true,
            autoplay: {
                delay: 25000,
                disableOnInteraction: false,
            },
                pagination: {
                    el: '.swiper-pagination',
                },


});
    </script>
</body>
</html>
<form action="/addproduct" method="post">
    <input type="text" placeholder="img" name="img">
    <input type="text" placeholder="product name" name="productname">
    <input type="text" placeholder="current price" name="currentprice">
    <input type="text" placeholder="fake price" name="fakeprice">
    <input type="text" placeholder="discount" name="discount">
    <select name="catid" id="select">

    </select>
    <input type="submit">
    <script>
         let data = async () => {
            let req = await fetch(`http://localhost:9999/catapi`)
            let res = await req.json();
            // console.log(img);
            let temp = ``;
            for (let i = 0; i < res.length; i++) {
                let id = res[i]._id
                let catname = res[i].catname
                // console.log(img);
                temp += ` <option value="${id}">${catname}</option>`
            }
            document.getElementById('select').innerHTML = temp
            
        }
        data()
        let productNo = localStorage.getItem('cartNumber')
        document.getElementById('numbercount').innerText = productNo
        
    </script>
</form>