    <div class="newsletter">
        <div class="container">
            <div class="wrapper">
                <div class="box">
                    <div class="content">
                        <h3>Join our newsletter </h3>
                        <p>Get E-mail updates about our latest shop and <strong>Special offers</strong></p>
                    </div>
                    <form action="" class="search">
                        <span class="icon-large"> <i class="ri-mail-line"></i></span>
                        <input type="text" placeholder="your email address">
                        <button type="s
                        ">Sing Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="widgets">
        <div class="container">
            <div class="wrapper">
                <div class="flexwrap">
                    <div class="row">
                        <div class="item main-links">
                            <h4>Help & Contact</h4>
                            <ul class="flexcol">
                                <li><a href="#">Your Account</a></li>
                                <li><a href="#">Your Order</a></li>
                                <li><a href="#">Shopping Order</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Assistant</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="item main-links">
                            <h4>Products Categories</h4>
                            <ul class="flexcol">
                                <li><a href="#">Beauty</a></li>
                                <li><a href="#">Electronic</a></li>
                                <li><a href="#">whoman's fashion</a></li>
                                <li><a href="#">mans fashion</a></li>
                                <li><a href="#">Girl's fashion</a></li>
                                <li><a href="#">boy's fashion</a></li>
                                <li><a href="#">Health & Household</a></li>
                                <li><a href="#">sports</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="item main-links">
                            <h4>Payment Info</h4>
                            <ul class="flexcol">
                                <li><a href="#">Bussiness Card</a></li>
                                <li><a href="#">Shop with points</a></li>
                                <li><a href="#">paypal</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="item main-links">
                            <h4>Abouts us</h4>
                            <ul class="flexcol">
                                <li><a href="#">Compny info</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Investors</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">policies</a></li>
                                <li><a href="#">Custemer reviews</a></li>
                            </ul>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
    <div class="footer-info">
        <div class="container">
            <div class="wrapper">
                <div class="flexcol">
                    <div class="logo">
                        <a href="#"><span class="circle"></span>.Store</a>
                    </div>
                    <div class="socials">
                        <ul class="flexitem">
                            <li><a href="#"><i class="ri-twitter-line"></i></a></li>
                            <li><a href="#"><i class="ri-facebook-line"></i></a></li>
                            <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                            <li><a href="#"><i class="ri-linkedin-line"></i></a></li>
                            <li><a href="#"><i class="ri-youtube-line"></i></a></li>
                        </ul>
                    </div>
                </div>
                <p class="mini-text"> Copyright 2023 © .Store. All right reserved.</p>
            </div>
        </div>
    </div>