<form action="/img" method="post" enctype="multipart/form-data">
    <input type="file" name="img">
    <input type="submit">
</form>
<img height="500px" width="500px" src="productIMG\1686557638437WhatsApp Image 2023-05-24 at 7.20.27 PM.jpeg" alt="">
