:root{
    --primary-color:hsl(0, 100%, 71%);
    --secondary-color:#794afa;
    --secondary-dark-color:#453c5c;

    --white-color:#ffffff;
    --light-bg-color:#f2f3f5;
    --light-text-color:#7c899a;
    --border-color:#e5e8ec;
    --dark-color:#0a021c;

    --font-small:13px;
    --font-smaller:11px;

    --percent100:100%;
    --percent50:50%;

    --fw3:300;
    --fw5:500;
    --fw6:600;
    --fw7:700;
    --fw8:800;
    
    --trans-background-color: background-color .3s , color .3s;
    --trans-background: background-color .3s ;
    --trans-color:: color .3s ;
}
@media screen and (min-width: 481px) {
    .products.main .item {
        flex: 0 0 50%;
    }
    .products.one .big-image {
        margin-bottom: 2em;
    }
    .products.one .image-show {
        height: 680px;
    }
    .products.one .thumbnail-show {
        height: 160px;
    }

}
@media (max-width: 639px) {
    .m-products{
        width: 100%;
    }
    .product-section .pro-collection {
        margin: 0 60px;
      }
      #cart-table thead {
        display: none;
      }
      #cart-table tbody tr {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        align-items: center;

      }
      #cart-table tbody tr td:first-child {
        width: var(--percent100);
        min-width: var(--percent100);
        position: relative;

      }
      #cart-table tbody tr td:not(:first-child) {
        flex-basis: 0;
        flex-grow: 1;
        max-width: var(--percent100);
      }
      #cart-table tbody tr td:last-child {
        position: absolute;
        top: 0;
        right: 0;
      }
    
}
@media screen and (min-width: 768px) {
    .products .price .current {
        font-size: 1.25em;
    }
    .products.mini {
        flex: 0 0 50%;
    }
    .products-categories .row {
        flex: 0 0 50%;
    }
    .products.main .item {
        flex: 0 0 33.3333%;
    }
     .products.one .row {
        flex: 0 0 50% ;
        width: 50% ;
      }
}
@media screen and (min-width: 992px) {
    .container{
        padding: 0 32px;
    }
    .desktop-hide{
        display: none;
    }
    .mobile-hide{
        display: block;
    }
    .logo a{
        margin-right: 2em;
    }
    .header-nav{
        padding: 0;
        margin: 0;
        border-bottom: 0;

    }
    .header-nav .right li >a{
        margin-left: 1em;
    }  
    
    /* mega menu */
nav .mega {
    position: absolute;
    width: var(--percent100);
    height: auto;
    top: auto;
    left: 0;
    right: 0;
    padding: 1.5em;
    line-height: 2em;
    background-color:#f2f3f5 ;
    box-shadow: rgb(0 0 0 / 20%) 0 30px 20px -30px;
    z-index: 100;

    display: none;
    }

    nav li.has-child:hover .mega{
        display: block;
    }
    nav .mega .wrapper{
        display: flex;
    }
    nav .mega h4{
        font-size: 0.8em;
        text-transform: uppercase;

    }
    nav .mega ul{
        font-size: var(--font-small);
    }
    nav .mega .women-brands{
        /* display: flex; */
        flex-wrap: wrap;
        max-width: 180px;

    }
    nav .mega .women-brands li{
        min-width: 80px;
    }
    nav .mega .view-all {
        margin-top: 1em;
    }
    nav .mega .products{
        flex: 2;
        padding: 0;
        align-items: center;
        position: relative;

    }
    nav .mega .products .row{
        width: var(--percent100);

    }
    nav .mega .products .media{
        height: 400px ;
    }
    nav .mega .products .text-content{
        line-height: initial;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        margin-top: 0.5em;
        position: absolute;
        bottom: 4em;
        width: var(--percent100);
    }
    nav .mega .products .text-content h4{
        font-size: 2em;
        font-weight: var(--fw8);
        text-align: center;
        color: var(--secondary-color);
    }
    .header-main .right{
        max-width: 600px;
        margin-left: auto;
        
         
    }
    /* department menu */
    .dpt-menu{
        position: absolute;
        top: var(--percent100);
        width: 300px;
        background-color: var(--white-color);
        border: 1px solid var(--white-color);
        border-top: 0;
        border-bottom: 0;
    }
    .dpt-menu > ul > li > a{
        font-weight: var(--fw5);
        padding: 0 1.5em;
        border-bottom: 1px solid var(--border-color);
    }
    .dpt-menu .has-child > ul , .dpt-menu .mega{
        position: absolute;
        top: 0;
        left: var(--percent100);
        width: var(--percent100);
        height: auto;
        min-height: var(--percent100);
        padding: 1.5em;
        font-size: var(--font-small);
        line-height: 2.5em;
        border: 1px solid rgba(0, 0, 0, 0.075);
        border-top: 0;
        display: none;
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: auto;

    }
    /* showing first sub box */
    .dpt-menu .mega {
        display: none;   

    }
    .dpt-menu .beauty ul{
        background-image: url(/assets/menu/menu_bg1.jpg);
    }
    .dpt-menu .electronic ul{
        background-image: url(/assets/menu/menu_bg2.jpg);
    }
    .dpt-menu .fashion ul{
        background-image: url(/assets/menu/menu_bg3.jpg);
    }
    .dpt-menu .homekit .mega{
        background-image: url(/assets/menu/menu_bg4.jpg);
    }
    .dpt-menu .has-child > :where(ul,.mega)::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(90deg, rgba(255,255,255,1) 0% , rgba(255,255,255,0  ));
    }
    .dpt-menu .mega{
        width: auto;
        min-width: var(--percent100);
    }
    .dpt-menu .has-child:hover .mega{
        display: flex;
    }
    /* slider */
    .slider > div > .wrapper{
        width: calc(100% - (300px + 2em));
        margin-left: auto;
    
    }
    .m-products{
        width: 25%;
    }
    .product-section .pro-collection {
        margin: 0 ;
      }
    .newsletter .box{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .widgets .row{
        flex: 0 0 25%;
      }

      /* page Category */
      .single-category .holder {
        flex-direction: row;
      }
      .single-category .sidebar {
        flex: 1 0 25%;
    }
    .single-category .section {
        flex: 1 0 75%;
        
      }
      .single-category .sidebar .filter {
        padding: 0 1.5em 0 0;
        position: sticky;
        top: 2em;
        box-shadow: none;
        width: var(--percent100);
        z-index: initial;
        visibility: visible;
        opacity: 1;
      }
      .single-category .products.main .item {
        flex: 0 0 33.3333%;
      }
      .Products.cart .form-cart {
        width: 66%;
    }
    .Products.cart .cart-summary {
        width: 34%;
        padding-left: 2em;
        margin-top: 0;
    }
    .profile .slider .text-content {
        padding: 0 0 3% 10%;
        
    }
    .trending .products {
        flex: 0 0 33.333% !important;
    }
    .products.big .media {
        max-height: 373px;
    }
    .products-categories .row {
        flex: 0 0 25%;
    }   
    .products.mini {
        flex: 0 0 25%;
    }
    .products.main .item {
        flex: 0 0 25%;
    }
}